<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/avada.css">
    <title>Avada</title>
</head>

<body>
      <!-- header -->
    <section id="topheader">
        <div class="container">
            <img src="./images/logo.webp" alt="" class="logo">
            <ul class="headermenu">
                <li class="lihome li">
                    <a href="#" class="home">Home</a>
                    <div class="homemenu">
                        <div class="homesample">
                            <div class="home1 subhomesample">
                                <span>Home Sample 1</span>
                                <a href="#">Home Version 1</a>
                                <a href="#">Home Version 2</a>
                                <a href="#">Home Version 3</a>
                                <a href="#">Home Version 4</a>
                                <a href="#">Home Version 5</a>
                                <a href="#">Home Version 6</a>
                                <a href="#">Home Version 7</a>
                                <a href="#">Home Version 8</a>
                            </div>
                            <div class="home2 subhomesample">
                                <span>Home Sample 2</span>
                                <a href="#">Home Version 9</a>
                                <a href="#">Home Version 10</a>
                                <a href="#">Home Version 11</a>
                                <a href="#">Home Version 12</a>
                                <a href="#">Home Version 13</a>
                                <a href="#">Home Version 14</a>
                                <a href="#">Home Version 15</a>
                                <a href="#">Home Version 16</a>
                            </div>
                            <div class="home3 subhomesample">
                                <span>Home Sample 3</span>
                                <a href="#">Home Version 17</a>
                                <a href="#">Home Version 18</a>
                                <a href="#">Home Version 19</a>
                                <a href="#">Home Version 20</a>
                                <a href="#">Home Version 21</a>
                                <a href="#">Home Version 22</a>
                                <a href="#">Home Version 23</a>
                                <a href="#">Home Version 24</a>
                            </div>
                            <div class="home4 subhomesample">
                                <span>Home Sample 4</span>
                                <a href="#">Home Version 25</a>
                                <a href="#">Home Version 26</a>
                                <a href="#">Home Version 27</a>
                                <a href="#">Home Version 28</a>
                                <a href="#">Home Version 29</a>
                                <a href="#">Home Version 30</a>
                                <a href="#">Home Version 31</a>
                                <a href="#">Home Version 32</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">Sliders</a></li>
                <li><a href="#">Headers</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Porfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Elements</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Demos</a></li>
                <li><a href="#">New</a></li>
                <li><i class="fas fa-search"></i></li>
            </ul>
        </div>
    </section>
    <div class="turnbtn turn"></div>
    <section id="hidedheader">
        <div class="hide">
            <div class="container">
                <div class="content">
                    <div class="hidedsidebar sidebar">
                        <h5>sliding bar section for widget</h5>
                        <p>
                            This is sliding section that can be enabled or disable on any demo. You can insert anywhere
                            from 1-6 column along with any widget that comes with Avada, WP or additional 3rd party
                            plugins. It's perfect for placing additional information on your site
                        </p>
                    </div>
                    <div class="recentwork sidebar">
                        <h5>recent work</h5>
                        <div class="img">
                            <img src="./images/port12-66x66.webp" alt="">
                            <img src="./images/port10-66x66.webp" alt="">
                            <img src="./images/port11-66x66.webp" alt="">
                            <img src="./images/port17-66x66.webp" alt="">
                            <img src="./images/port19-66x66.webp" alt="">
                            <img src="./images/port21-66x66.webp" alt="">
                            <img src="./images/port15-66x66.webp" alt="">
                            <img src="./images/port18-66x66.webp" alt="">
                        </div>
                    </div>
                    <div class="contact sidebar">
                        <h5>contact info</h5>
                        <p>12345 North Street, New York City, NY 555555</p>
                        <p>Phone: 1-800-555-5555</p>
                        <p>Mobile: 1-234-567-8910</p>
                        <p>Fax: 1-234-879-5641</p>
                        <p>Email:<span>info@yourwebsite.com</span> </p>
                        <p>Web: <span>http://yourwebsite.com</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>