    <div class="custombtn custombtnactive">
        <i class="fas fa-cog"></i>
    </div>
    <div class="buy-avada buyavadaactive">
        <div class="buy-info">
            <div class="privacy">
                <button class="buybtn">buy avada now!</button>
                <div class="info">
                    <span>Privacy Policy</span>
                    <span>|</span>
                    <span>Terms of Service</span>
                </div>
            </div>
            <div class="buy-layout">
                <span>LAYOUT</span>
                <div class="choose-layout">
                    <div class="choose choose-active"><a href="#" class="wide">WIDE</a></div>
                    <div class="choose"><a href="#" class="boxed">BOXED</a></div>
                </div>
            </div>
            <div class="background-mode">
                <span>boxed mode background</span>
                <ul class="modebg">
                    <li class="bg1"><a href="#"></a></li>
                    <li class="bg2"><a href="#"></a></li>
                    <li class="bg3"><a href="#"></a></li>
                    <li class="bg4"><a href="#"></a></li>
                    <li class="bg5"><a href="#"></a></li>
                    <li class="bg6"><a href="#"></a></li>
                    <li class="bg7"><a href="#"></a></li>
                </ul>
            </div>
            <div class="createavada">
                <span>create with avada</span>
                <p>
                    Avada's powerful setup allow you to easily create unique looking sites. All demos can be install
                    with one click
                </p>
            </div>
            <div class="listavada">
                <a href="">
                    <span class="demo-gb demo1"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo2"></span>
                    <span class="new-demo">NEW</span>
                </a>
                <a href="">
                    <span class="demo-gb demo3"></span>
                    <span class="new-demo">NEW</span>

                </a>
                <a href="">
                    <span class="demo-gb demo4"></span>
                    <span class="new-demo">NEW</span>

                </a>
                <a href="">
                    <span class="demo-gb demo5"></span>
                    <span class="new-demo">NEW</span>
                </a>
                <a href="">
                    <span class="demo-gb demo6"></span>
                    <span class="new-demo">NEW</span>

                </a>
                <a href="">
                    <span class="demo-gb demo7"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo8"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo9"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo10"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo11"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo12"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo13"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo14"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo15"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo16"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo17"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo18"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo19"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo20"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo21"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo22"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo23"></span>
                </a>
                <a href="">
                    <span class="demo-gb demo24"></span>
                </a>
            </div>
        </div>

    </div>